BOT_TOKEN=PASTE_BOT_TOKEN_HERE
CHANNEL_USERNAME=@AeroVPNpro
CHANNEL_URL=https://t.me/AeroVPNpro
BOT_USERNAME=AeroVpnPlus_bot
SUBSCRIPTION_URL=http://62.60.235.194/sub.txt
POLICY_URL=https://telegra.ph/Politika-konfidencialnosti-08-15-17
AGREEMENT_URL=https://telegra.ph/Polzovatelskoe-soglashenie-08-15-10
PLATEGA_BASE_URL=https://app.platega.io
PLATEGA_MERCHANT_ID=PASTE_MERCHANT_ID_HERE
PLATEGA_SECRET=PASTE_SECRET_HERE
ADMIN_IDS=123456789
PRICE_MONTH_RUB=100
DB_PATH=aerovpn.db
